doctype
html
  head
    title NGUYEN Laboratory - CREST Project
    link(rel="stylesheet" href="main.css")
  body
    .header
      h1 NGUYEN Laboratory - CREST Project
      p Legal Document Analysis and Understanding
      .nav-section
        ul#nav
          li(class="first #{ current.source == 'index' ? 'active' : '' }")
            a(href="index") Home
          li(class="#{ current.source == 'research' ? 'active' : '' }")
            a(href="research") Research
          li(class="#{ current.source == 'publications' ? 'active' : '' }")
            a(href="publications") Publications
          li(class="#{ current.source == 'demos' ? 'active' : '' }")
            a(href="demos") Demos
          li(class="#{ current.source == 'members' ? 'active' : '' }")
            a(href="members") Members

    div(id="body-content")
      != yield